*{ 
  box-sizing: border-box;
}
body{
  font-family:"fira sans, sans-serif";
  line-height: 1.5;
  min-height: 100vh;
  display: inline-flex;
  place-items: center;
}
.card {
 box-shadow: 0 0 20px rgba(0,0,0,0.2);
width: 80%;
max-width: 600px;
display:flex;
flex-direction:row;
background: #D7B4F3;
color:white;
text-align:center;
padding:2em;

}
.profile-name {
 font-size: 2rem;
 line-height: 1.1;
 letter-spacing: 1px;
}
.profile-name::after {
 content:"";
 display: block;
  height: 1px;
  width: 2em;
  background: #dcd0ff;
   margin: auto 0.5em ;

}

.profile-image {
 border-radius: 50%;
  border: 4px solid white;
}